{% extends "events/layout.html" %}

{% block body %}
<div class="auth-container justify-content-center mx-auto m-5 p-5">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="m-auto">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control py-2 px-1" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control py-2 px-1" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control py-2 px-1" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control py-2 px-1" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary py-2 px-1" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}